@inherits BidListBase
@using Microsoft.AspNetCore.Authorization

@page "/bidlist"
@attribute [Authorize]

<h1>BidLists</h1>


<a href="/bidlist/create" role="button" class="btn btn-success">
    Create
</a>


@if (BidLists == null)
{
    <p>Loading...</p>
}
else
{
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Account</th>
                <th scope="col">Type</th>
                <th scope="col">Bid Quantity</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in BidLists)
            {
                var id = item.Id;

                <tr>
                    <th scope="row">@item.Id</th>
                    <td>@item.Account</td>
                    <td>@item.Type</td>
                    <td>@item.BidQuantity</td>
                    <td>
                        <NavLink class="nav-link" href="javascript: void(0)" @onclick="@(() => Edit(id))">Edit</NavLink>
                        <NavLink class="nav-link" href="javascript: void(0)" @onclick="@(() => Delete(id))">Delete</NavLink>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}